#section-title {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    color: #000000;
}


#section-title i{
   

}

#section-title h1{

}

#section-title h2{

}

#section-title p{

}


/* tablet */
@media screen and(min-width:768px){
    
}

/*  Descktop antigo */
@media screen and(min-width:992px){

}   